
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.nav-bar{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    padding-top: 30px;
}

.nav-bar a{
    margin: 0 30px;
    color: white;
    text-decoration: none;
    font-size: 30px;
  }

.home{
    font-weight: 800;
}

Link {
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

.write-container input{
    padding: 20px;
    display: block;  /* inline-block이라 내 공간만 차지. block-> 내 줄 전체 차지 (100%) */
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
}
  
.write-container{
    padding: 30px;
}

.write-container button{
    padding: 20px 25px;
    background-color: rgb(187, 187, 187);
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.home-container{
    display: flex;
    justify-content: space-between;
}

.signup-container input{
    padding: 20px;
    display: block; 
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.signup-container{
    padding: 30px;
}

.signup-container button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 75px;
    margin-top: 30px;
}